
main {
    height: 500px;
}
main h1 {
    text-align: center;
}
/* sidebar */
.sidebar-area {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 20px;
    background-color: #3b3b48;
    height: 100%;
}

.sidebar-area aside h2 {
    font-size: 24px;
    color: #d7d7d7;
    padding-bottom: 2rem;
    font-weight: normal;
}

.sidebar-area aside ul {
    padding: 0;
}

.sidebar-area aside ul li {
    line-height: 2;
    font-size: 15px;
}

.main-content {
    font-size: 13px;
}

.paragraph_img_container {
    float: left;
    margin-right: 3rem;
}

img.paragraph_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.paragraph_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
}