

main {
    font-size: 0px;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid #343434;
    background-color: #eee;
    
}

.main-content {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #343434;
}
.main-content p {
    font-size: 18px;
}

.main-content {
    font-size: 13px;
}

.paragraph_img_container {
    float: left;
    margin-right: 3rem;
}

img.paragraph_img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.paragraph_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
}